body, html{
    margin: 0;
    height: 100%; /* Parallax */
}

/*.conteudo{
    color: #777;
    background-color: #ffffff;
    text-align: justify;
    padding: 50px 80px
}*/

/* Efeito parallax */

.caixa1, .caixa2, .caixa3, .caixa4{
    position: relative;
    height: 100%;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.caixa1{
    background-image: url(../img/abstract-binary-code-background.png);
}

.conteudo-titulo{
    position: absolute;
    left: 0;
    top: 45%;
    width: 100%;
    text-align: center;
}

.conteudo-titulo span.titulo{
    background-color: rgba(52, 58, 64, 0.3);
    color: #ffffff;
    padding: 18px;
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 5px;
}

@media screen and (max-width: 550px) {
    .conteudo-titulo span.titulo {
        padding: 10px;
        font-size: 20px;
    }
}

/* Arrumando o tamanho da fonte do display em dispositivos móveis*/
@media screen and (max-width: 575.98px) {
    .display-1 {
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.0;
    }
    .display-2 {
        font-size: 2.75rem;
        font-weight: 300;
        line-height: 1.0;
    }

    .display-3 {
        font-size: 2.25rem;
        font-weight: 300;
        line-height: 1.0;
    }

    .display-4 {
        font-size: 3rem;
        font-weight: 300;
        line-height: 1.0;
    }
}